@model WebApplication.Models.UserModel
<p id="Ch_Pass">
    @Html.PasswordFor(model => model.Password);
    <button type="button" id="Save_P">Зберегти</button>
    <button type="button" id="Cancel_P">Скасувати</button>
</p>
<script>
    document.getElementById("Cancel_P").addEventListener("click", event => {
        $.get('@Url.Action("ToChangePassword", "Users", new { userId = Model.Id })', function (data) {
            $("#Ch_Pass").replaceWith(data);
        });
    })
    document.getElementById("Save_P").addEventListener("click", event => {
        debugger;
        $("#changePass").submit();
    })
</script>
