@model WebApplication.Models.UserModel
@{ Layout = null;}

<button type="button" id="Ch_Email" class="btn btn-primary">Змінити Email</button>
<script>
    var ch_email = document.getElementById("Ch_Email");
    ch_email.addEventListener("click", event => {
        @*console.log('@Model.Role.Name');*@
        $.get('@Url.Action("ChangeEmail", "Users", new { userId = Model.Id })', function (data) {
            $("#Ch_Email").replaceWith(data);
        });
    })
</script>
