@model WebApplication.Models.UserModel
@{ Layout = null;}

<button type="button" id="Ch_Pass" class="btn btn-primary">Змінити пароль</button>
<script>
    var ch_pass = document.getElementById("Ch_Pass");
    ch_pass.addEventListener("click", event => {
        @*console.log('@Model.Role.Name');*@
        $.get('@Url.Action("ChangePassword", "Users", new { userId = Model.Id })', function (data) {
            $("#Ch_Pass").replaceWith(data);
        });
    })
</script>