@{if (User.IsInRole(WebApplication.Data.Constants.Admin))
        Layout = "_Admin";
    else
        Layout = "_User";}
@model WebApplication.Models.UserModel

<h2>Реєстрація</h2>

<form asp-action="Create" asp-controller="Users" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div>

            <label asp-for="Email">Введіть Email</label><br />
            @Html.EditorFor(model => model.Email)
            <span asp-validation-for="Email" />
        </div>
        <div>
            <label asp-for="Password">Введіть пароль</label><br />
            @Html.PasswordFor(model => model.Password)
            <span asp-validation-for="Password" />
        </div>
        <div>
            <label asp-for="RoleId">Оберіть роль користувача</label><br />
            @Html.DropDownListFor(model => model.RoleId, new SelectList(ViewBag.Roles, "Id", "Name"))
            <span asp-validation-for="RoleId" />
            <br />
        </div>
        <div>
            <input type="submit" value="Додати" />
        </div>
    </div>
</form>

